/*VARIABLES*/

$fuente-tipica: sans-serif, Helvetica, Arial;
$color-fondo: #ccc;
$color-letra: red;
$color-secundario: rgb(122, 20, 20);

//USO DE VARIABLES
body{
    background-color: $color-fondo;
}

h1{
    color: $color-letra;
    font-family: $fuente-tipica;
}

p{
    color: $color-secundario;
}

/*ANIDACION*/

.caja{
    border: 1px solid black;
    width: 500px;
    margin: 0px auto;
    text-align: center;
    background-color: white;
    padding: 10px;

    h1{
        color: blue;
    }

    p{
        color: green;
    }

    .info{
        font-size: 10px;

        .author{
            font-size: 15px;
            color: orange;
        }
    }
}

//MIXINS / FUNCIONES

@mixin crearBorder ($color, $size, $shadow) {
    border: 5px solid $color;
    border-radius: $size;
    box-shadow: 0px 0px 5px $shadow;
}

.caja{
    @include crearBorder(red, 10px, black);
}

.listado{
    @include crearBorder(green, 5px, yellow)
}

//HERENCIA
%alert-normal{
    border: 1px solid gray;
    background: #EEE;
    color: gray;
    padding: 10px;
    width: 100%;
    margin: 20px;
}

.alert{
    @extend %alert-normal;
}

.alert-danger{
    @extend %alert-normal;
    color: red;
    border-color: red
}

.alert-sucess{
    @extend %alert-normal;
    color: green;
    border-color: green;
}

//Operadores
.clearfix{
    clear:both;
}
h1{
    font-size: 20px + 5px - 1px;
}

$caja: 200px;
$wrap: 900px;

.cajas{
    width:900px;
    margin: 0px auto;
}

.caja{
    float: left;
    width: $caja / $wrap * 100%;
    margin: 10px;
}

//Condicionales - if
$color-fondo: black;
h1{
    @if $color-fondo == #ccc {
        color: black;
    } @else if $color-fondo == black{
        color: lightsalmon;
    } @else{
        color: pink;
    }
}

//Bucles (FOR)
$contador: 1;

@for $contador from 1 through 8{
    .listado ul li:nth-child(#{$contador}) {
        color: orange;
        font-size: $contador + 10px;
    }
}
