/*ESTILOS GENERALES*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #393E46;
    color: #EEEEEE;
    text-align: center;
}

.wrap{
    width: 600px;
    margin: 0px auto;
}

/*CABECERA*/

#header{
    height: 150px;
}

#header h1{
    margin: 30px;
    letter-spacing: 5px;
    font-size: 3em;
}

#header p{
    font-size: 1.5em;
}

/*CONTENIDO PRINCIPAL*/

#main .btn{
    display: block;
    text-decoration: none;
    margin: 25px;
    padding: 14px 28px;
    background-color: #FFD369;
    color: #393E46;
    border-radius: 30px;
    font-size: 20px;
}

#main .btn:hover{
    background-color: #db9b06;
}

#main .btn:active{
    background-color: #EEEEEE;
}

/*PIE DE PÁGINA*/

#footer{
    background-color: #222831;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 130px;
    text-align: center;
}

#footer p{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 80px;
}

#footer .social-media a{
    text-decoration: none;
    font-size: 35px;
    margin: 5px 20px 0px 20px;
    color: #EEEEEE;
}

#footer .social-media a:hover{
    color: #FFD369;
}

#footer .social-media a:active{
    color: #db9b06;
}